<div class='card'>
    <div class='card-header'>
        {{pageTitle}}
    </div>
    <div class='card-body'>
        <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='listFilter' />
            </div>
        </div>

        <div class='table-responsive'>
            <table class='table' *ngIf='teachers && teachers.length'>
                <thead>
                    <tr>

                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Fecha Nacimiento</th>
                        <th>Edad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let teacher of filteredTeachers'>

                        <td>
                            <a [routerLink]="['/teachers', teacher.TeacherId]" [queryParams]={filterBy:listFilter}>
                                {{teacher.TeacherId}}
                            </a>

                        </td>
                        <td>{{teacher.FirstName }}</td>
                        <td>{{teacher.LastName}}</td>
                        <td>{{teacher.BirthDate | date}}</td>
                        <td>{{teacher.Age}}</td>
                        <td>
                            <button class="btn btn-outline-primary btn-sm" [routerLink]="['/teachers',teacher.TeacherId, 'edit']">
                              Edit
                            </button>
                        </td>

                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-outline-secondary mr-3" style="width:80px; height:35px" [routerLink]="['/Welcome']">
                    <i class="fa fa-chevron-left"></i> Back
                  </button>
        <button class="btn btn-outline-primary btn-sm" style="height:35px" [routerLink]="['/teachers/0', 'edit']">
            Add Teacher
          </button>
    </div>
</div>
<div *ngIf='errorMessage' class='alert alert-danger'>
    Error: {{ errorMessage }}
</div>