<nav class='navbar navbar-expand navbar-light bg-light'>
    <a class='navbar-brand'>{{pageTitle}}</a>
    <ul class='nav nav-pills'>
        <li><a class='nav-link' [routerLink]="['/Welcome']">Home</a></li>
        <li><a class='nav-link' [routerLink]="['/students']">Students</a></li>
        <li><a class='nav-link' [routerLink]="['/asignatures']">Asignature</a></li>
        <li><a class='nav-link' [routerLink]="['/teachers']">Teachers</a></li>
        <li><a class='nav-link' [routerLink]="['/courses']">Courses</a></li>
    </ul>
</nav>
<div class='container'>
    <router-outlet></router-outlet>
</div>