<nav class='navbar navbar-expand navbar-light bg-light'>
    <a class='navbar-brand'>{{pageTitle}}</a>
    <ul class='nav nav-pills'>
        <li><a class='nav-link' [routerLink]="['/Welcome']">Home</a></li>
        <li><a class='nav-link' [routerLink]="['/students']">Students</a></li>
        <li><a class='nav-link' [routerLink]="['/asignatures']">Asignature</a></li>
        <li><a class='nav-link' [routerLink]="['/teachers']">Teachers</a></li>
        <li><a class='nav-link' [routerLink]="['/courses']">Courses</a></li>
    </ul>
    <!-- Left justified part of the menu -->
    <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="isLoggedIn">
            <a class="nav-link" [routerLink]="['/login']">Welcome {{ userName }}</a>
        </li>
        <li class="nav-item" *ngIf="!isMessageDisplayed">
            <a class="nav-link" (click)="displayMessages()">Show Messages</a>
        </li>
        <li class="nav-item" *ngIf="isMessageDisplayed">
            <a class="nav-link" (click)="hideMessages()">Hide Messages</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
            <a class="nav-link" [routerLink]="['/login']">Log In</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
            <a class="nav-link" (click)="logOut()">Log Out</a>
        </li>
    </ul>
</nav>
<div class='container'>
    <router-outlet></router-outlet>
</div>