<div class="card">
    <div class="card-header">
        Asignature Register
    </div>

    <div class="card-body">
        <form novalidate (ngSubmit)="saveAsignature()" [formGroup]='asignatureForm'>

            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" for="NameId">Name</label>
                <div class="col-md-8">
                    <input class="form-control" id="NameId" type="text" placeholder="Name (required)" formControlName='name' [ngClass]="{'is-invalid': nameMessage }" />
                    <span class="invalid-feedback">
                        {{nameMessage}}
          
                    </span>
                </div>
            </div>

            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" for="descriptionId">Description</label>
                <div class="col-md-8">
                    <input class="form-control" id="descriptionId" type="text" placeholder="Description (required)" formControlName='description' [ngClass]="{'is-invalid': (asignatureForm.get('description').touched || asignatureForm.get('description').dirty) && !asignatureForm.get('description').valid }"
                    />
                    <span class="invalid-feedback">
            <span *ngIf="asignatureForm.get('description').errors?.required">
              Please enter Description.
            </span>
                    <span *ngIf="asignatureForm.get('description').errors?.maxlength">
              The last name must be less than 50 characters.
            </span>
                    </span>
                </div>
            </div>



            <div class="form-group row mb-2">
                <div class="offset-md-2 col-md-4">
                    <button class="btn btn-primary mr-3" type="submit" style="width:80px" [title]="asignatureForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'" [disabled]="!asignatureForm.valid">
            Save
          </button>
                    <button class="btn btn-outline-secondary mr-3" style="width:80px;" type="button" title="Cancel your edits" [routerLink]="['/asignatures']">
                Cancel
            </button>
                    <button class="btn btn-outline-warning" style="width:80px" type="button" title="Delete this Asignature" (click)="deleteAsignature()">
            Delete
          </button>

                </div>
            </div>
        </form>
    </div>
</div>


<br>Dirty: {{ asignatureForm.dirty }}
<br>Touched: {{ asignatureForm.touched }}
<br>Valid: {{ asignatureForm.valid }}
<br>Value: {{ asignatureForm.value | json }}