<div class="card" *ngIf='studentDetail'>
    <div class="card-header">
        {{pageTitle + ': ' + studentDetail.FirstName + ' ' + studentDetail.LastName}}
    </div>

    <div class="card-body" *ngIf="studentDetail">

        <div class="row">

            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-3">Code:</div>
                    <div class="col-md-6">{{studentDetail.StudentId}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Name:</div>
                    <div class="col-md-6">{{studentDetail.FirstName}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Last Name:</div>
                    <div class="col-md-6">{{studentDetail.LastName}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Write With:</div>
                    <div class="col-md-6">{{studentDetail.WriteWith}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">BirthDate:</div>
                    <div class="col-md-6">{{studentDetail.BirthDate|date}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Age:</div>
                    <div class="col-md-6">{{studentDetail.Age}}</div>
                </div>

            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-4">
                <button class="btn btn-outline-secondary mr-3" style="width:80px" (click)="onBack()">
          <i class="fa fa-chevron-left"></i> Back
        </button>
                <button class="btn btn-outline-primary" style="width:80px" [routerLink]="['/students', studentDetail.StudentId, 'edit']">
          Edit
        </button>
            </div>
        </div>

    </div>

    <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}
    </div>
</div>